
.loadingBar {
    width: 0%; 
    height: 0.5rem;
    background-color: #ec4899; 
    border-radius: 0.25rem; 
    transition: width 15s ease-in-out; 
}

.genBtn:active {
    animation: tapping ease-in-out 0.5s;
}

@keyframes tapping {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}
