/* Loading Bar */
.loadingBar {
    width: 0%; /* Initial width starts from 0% */
    height: 0.5rem;
    background-color: #ec4899; /* Pink color (bg-pink-700) */
    border-radius: 0.25rem; /* Rounded corners */
    transition: width 15s ease-in-out; /* Smooth transition for width */
}

/* GenBtn animation on click */
.genBtn:active {
    animation: tapping ease-in-out 0.5s;
}

/* Tapping animation */
@keyframes tapping {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}
